extends ../layouts/default

block content
  h2(style="margin-top:100px;text-align:center;") Current Specials
  .row(style="margin:25px;")
    .col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-4
      a(id="hikvision-cctv-special")
        img.promo(src="/images/specials/hikvision-special.png")
    .col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-4
      a(id="tvt-cctv-special")
        img.promo(src="/images/specials/tvt-cctv-august-special.png")
    .col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-4
      a(id="security-special")
        img.promo(src="/images/specials/security-solution-special.png")
