extends ../../layouts/default

block intro
    h2(style="margin-top:80px;text-align:center;font-weight:bold;text-decoration: underline;")
        span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
        span Public Address &amp; Evacuation Systems

block content
    //h3(style="text-align:center;margin-top:80px;") FIRE DETECTION, GAS SUPPRESSION, PUBLIC ADDRESS EVACUATION SYSTEMS, NURSE CALL
    //h4(style="text-align:center;") Please enquire for systems not listed on the site.
    //h4(style="text-align:center;") SANS 10139, SANS 14520, SANS 246, SANS 369, SANS 322, SANS 306, SANS 7240
    .container
        #public-address(style="font-size: 15pt;")
            h3(style="text-align:center;") We Design, Supply, Install, Commission and Service (SLA): 
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Public Address &amp; Evacuation Systems - TOA, Bosch, Wild &amp; Marr
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Conference Systems
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Automated Emergency Announcement
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Integration to Fire and Access Control Systems
            p
            a.btn.btn-lg.btn-default(href='/contact') Enquire Now &gt;&gt;