extends ../../layouts/default

block content
    h3(style="text-align:center;margin-top:80px;") FIRE DETECTION, GAS SUPPRESSION, PUBLIC ADDRESS EVACUATION SYSTEMS, NURSE CALL
    h4(style="text-align:center;") Please enquire for systems not listed on the site.
    h4(style="text-align:center;") SANS 10139, SANS 14520, SANS 246, SANS 369, SANS 322, SANS 306, SANS 7240

    div(style="width:80%;margin:auto;margin-top:50px;border-top: 1px solid #eeeeee;")
        h4(style="text-align:center;font-weight:bold;text-decoration: underline;")
            span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
            span Fire Systems

        #fire-detection(style="font-size: 15pt;")
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) Fire Systems.
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-menu-right")
                |
                span Systems - Aritech, Technoswitch, Ziton, Bosch,
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-menu-right")
                span Smoke, Heat, Gas &amp; Flame detection systems, among others.
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-menu-right")
                span Air sampling detection systems - Xtralis Vesda
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-menu-right")
                span Automated - Air handling / Air-con Shutdown
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-menu-right")
                span Room Integrity Systems
            p(style="text-align:left;font-size: 17px;") 
                span(class="glyphicon glyphicon-menu-right")
                span Gas Suppression - FM200, Inergen, Co2
            p(style="text-align:left;font-size: 17px;") 
                span(class="glyphicon glyphicon-menu-right")
                span Aerosol Suppression - Stat-X, Fire-pro, Pyrogen
            p(style="text-align:left;font-size: 17px;") 
                span(class="glyphicon glyphicon-menu-right")
                span Fire Proofing - Hilti Firestop
        #nurse-call(style="font-size: 15pt;")
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) Nurse Call Systems and Television Systems.
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) Automated Nurse Call Systems
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) TV Distribution Networks.
            p
            a.btn.btn-lg.btn-default(href='/contact') Enquire Now &gt;&gt;

        #public-address(style="font-size: 15pt;")
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) Public Address &amp; Evacuation Systems - TOA, Bosch, Wild &amp; Marr
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) Conference Systems
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) Automated Emergency Announcement
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Integration to Fire and Access Control Systems
            p
            a.btn.btn-lg.btn-default(href='/contact') Enquire Now &gt;&gt;

        #intrusion-detection(style="font-size: 15pt;")
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) Intrusion Detection Systems.
            p
            a.btn.btn-lg.btn-default(href='/contact') Enquire Now &gt;&gt;

        #integrated-bms(style="font-size: 15pt;")
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) Integrated BMS Systems.
            p
            a.btn.btn-lg.btn-default(href='/contact') Enquire Now &gt;&gt;

        #cctv-surveillance(style="font-size: 15pt;")
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) CCTV Surveillance Systems.
            p
            a.btn.btn-lg.btn-default(href='/contact') Enquire Now &gt;&gt;

        #access-control(style="font-size: 15pt;")
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span We Design, Supply, Install, Commission and Service (SLA) Access Control Systems.
            p
            a.btn.btn-lg.btn-default(href='/contact') Enquire Now &gt;&gt;
