extends ../../layouts/default

block content
    h3(style="text-align:center;margin-top:80px;") FIRE DETECTION, GAS SUPPRESSION, PUBLIC ADDRESS EVACUATION SYSTEMS, NURSE CALL
    h4(style="text-align:center;") Please enquire for systems not listed on the site.
    h4(style="text-align:center;") SANS 10139, SANS 14520, SANS 246, SANS 369, SANS 322, SANS 306, SANS 7240

    div(style="width:80%;margin:auto;margin-top:50px;border-top: 1px solid #eeeeee;")
        h4(style="text-align:center;font-weight:bold;text-decoration: underline;")
            span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
            span Fire Systems - Design, Supply, Install, Commission, Service and Maintenance SLA:
        ul(style="font-size: 15pt;list-style:none;width:600px;margin:auto;")
            li 
                p(style="text-align:left;font-size: 17px;")
                    span(class="glyphicon glyphicon-menu-right")
                    |
                    span Systems - Aritech, Technoswitch, Ziton, Bosch,
            li
                p(style="text-align:left;font-size: 17px;")
                    span(class="glyphicon glyphicon-menu-right")
                    span Smoke, Heat, Gas &amp; Flame detection systems, among others.
            li
                p(style="text-align:left;font-size: 17px;")
                    span(class="glyphicon glyphicon-menu-right")
                    span Air sampling detection systems - Xtralis Vesda
            li
                p(style="text-align:left;font-size: 17px;")
                    span(class="glyphicon glyphicon-menu-right")
                    span Automated - Air handling / Air-con Shutdown
            li
                p(style="text-align:left;font-size: 17px;")
                    span(class="glyphicon glyphicon-menu-right")
                    span Room Integrity Systems
            li
                p(style="text-align:left;font-size: 17px;") 
                    span(class="glyphicon glyphicon-menu-right")
                    span Gas Suppression - FM200, Inergen, Co2
            li
                p(style="text-align:left;font-size: 17px;") 
                    span(class="glyphicon glyphicon-menu-right")
                    span Aerosol Suppression - Stat-X, Fire-pro, Pyrogen
            li
                p(style="text-align:left;font-size: 17px;") 
                    span(class="glyphicon glyphicon-menu-right")
                    span Fire Proofing - Hilti Firestop

        div(style="width:80%;margin:auto;margin-top:50px;border-top: 1px solid #eeeeee;")
            h4(style="text-align:center;font-weight:bold;text-decoration: underline;")
                span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
                span Fire Systems - Design, Supply, Install, Commission, Service and Maintenance SLA:
            ul(style="font-size: 15pt;list-style:none;width:600px;margin:auto;")
                li 
                    p(style="text-align:left;font-size: 17px;")
                        span(class="glyphicon glyphicon-menu-right")
                        |
                        span Systems - Aritech, Technoswitch, Ziton, Bosch,
                li
                    p(style="text-align:left;font-size: 17px;")
                        span(class="glyphicon glyphicon-menu-right")
                        span Smoke, Heat, Gas &amp; Flame detection systems, among others.
                li
                    p(style="text-align:left;font-size: 17px;")
                        span(class="glyphicon glyphicon-menu-right")
                        span Air sampling detection systems - Xtralis Vesda
                li
                    p(style="text-align:left;font-size: 17px;")
                        span(class="glyphicon glyphicon-menu-right")
                        span Automated - Air handling / Air-con Shutdown
                li
                    p(style="text-align:left;font-size: 17px;")
                        span(class="glyphicon glyphicon-menu-right")
                        span Room Integrity Systems
                li
                    p(style="text-align:left;font-size: 17px;") 
                        span(class="glyphicon glyphicon-menu-right")
                        span Gas Suppression - FM200, Inergen, Co2
                li
                    p(style="text-align:left;font-size: 17px;") 
                        span(class="glyphicon glyphicon-menu-right")
                        span Aerosol Suppression - Stat-X, Fire-pro, Pyrogen
                li
                    p(style="text-align:left;font-size: 17px;") 
                        span(class="glyphicon glyphicon-menu-right")
                        span Fire Proofing - Hilti Firestop